*.swp
*.pyc
*.off
.sw*
*.diff
__pycache__
.pytest_cache
attic/
*_pb2.py
*_pb2_grpc.py
api/api_descriptor.pb
api/orchestrateapi.egg-info/
cli/build/
cli/dist/
cli/.eggs/
cli/src/.eggs/
cli/src/orchestratecli.egg-info/
